{% extends "base.html.twig" %}
{% block title %}Player{% endblock %}
{% block body %}
    Page du profil de : {{ player.name }}, role: {{ player.role }} <a href="{{ path("editPlayer", {id: player.id}) }}">Editer</a>
{% endblock %}